html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

*,
ul {
  margin: 0 px;
  padding: 0px;
}

body {
  font-family: 'Ubuntu', 'Playfair Display', serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  height: 100%;
}

/* OPTION */

.container {
  width: 900px;
  margin: 0 auto;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: 420px;
  height: 280px;
}

/* NAVIGATION */
nav {
  padding: 75 0 101;
}
.menu-navigation {
  font-family: 'Playfair Display';
  font-size: 14px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}

ul .features-list-item {
  display: inline-block;
}

.menu-navigation li {
  display: inline-block;
}

.menu-navigation li:not(:last-child) {
  margin: 60px;
}

.menu-navigation a {
  font-weight: 500;
  color: #626262;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-navigation a:hover :focus,
.menu-navigation a:hover {
  color: #03a9f4;
}

.container {
  font-size: 0;
}

/* FEATURES LIST ITEM */
.features-list-item {
  display: inline-block;
  list-style: none;
  width: 420px;
  margin-right: 60px;
}

.features-list-item:nth-child(2n) {
  margin-right: 0px;
}

.features-list-item:nth-child(-n + 2n) {
  margin-bottom: 0px;
}

.features-list-item h2 {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 30px;
  color: #626262;
  padding-bottom: 37px;
}

.features-list-item p {
  font-size: 14px;
  line-height: 21px;
}

.features-list-item {
  margin-bottom: 130px;
}
ul li:nth-last-child(-n + 2) {
  display: inline-block;
  margin-bottom: 0px;
}

.list-of-main-information {
  padding: 0px;
}
h2 {
  margin: 0 auto;
  padding: 0px;
}
h3 {
  font-family: 'Ubuntu';
  font-weight: 300;
  padding-top: 26px;
  padding-bottom: 26px;
  text-transform: uppercase;
  width: 420px;
  color: #b4ad9e;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
}

.article {
  font-family: 'Playfair Display';
  margin: 0px;
}

.button {
  display: inline-block;
  padding-bottom: 55px;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 71px;
  text-align: justify;
}

.cta {
  display: inline-block;
  color: #626262;
  border: 1px solid #626262;
  width: 164px;
  height: 60px;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Playfair Display';
  text-align: center;
  background-color: white;
}
